.title {
  position: absolute;
  top: -5vh;
  left: 43vw;
  font: normal bold 3rem/1.2 "poppins", "helvetica", sans-serif;
  justify-content: center;
  align-items: center;
  color: rgb(237, 219, 194);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 3px 0 #000;
}




.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.outputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputStyling {
  margin-bottom: 45px;
  background: antiquewhite;
  width: 45%;
}

.outputStyling {
  background: antiquewhite;
  width: 60%;
}